/* img {
   width: min(80%, 25rem);
}

.spots {


  display: grid;
  grid-template-rows: repeat(auto-fill, 40%);
  grid-template-columns: repeat(4, auto); */



    /* background-color: white;
    display: flex;
    flex-flow: row;

    border-radius: 15px;
    padding: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200; */
  /* width: 1366px;
  height: 768px;

  display: grid;
  grid-template-rows: repeat(auto-fit, 40%);
  grid-template-columns: repeat(4, auto);
  gap: 8px; */

  /* justify-content: space-evenly;
  align-content: space-evenly; */

