.update-spot-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: dotted #767676 2px;
    padding-left: 15px;
    border-right: dotted #767676  2px;
    padding-right: 15px;
}

.error-div{
    color: #FF5A5F;
    font-weight: bold;

}

.price-div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.country-street-title-price-image-fields{
    height: 15px;
    width: 275px;
}

.city-text{
    position: relative;
    left: calc(-115px);
    top: calc((15px))
}

.street-text{
    position: relative;
    left: calc(-95px);
    top: calc(15px)
}

.city-state-div{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.city-state-text{
    position: relative;
    left:calc(-15px)
}

.city-field{
    position: relative;
    left: calc(-50px)
}

.street-field{
    width: 70px;
}

.describe-text-area{
    height: 150px;
    width: 500px;
}

.button-class-no-spot{
    height:30px;
    width:150px;
    font-size: 15px;
    color: white;
    background-color:#767676;
}

.button-class-new-spot{
    height:30px;
    width:150px;
    font-size: 15px;
    color: white;
    background-color: #FF5A5F;
    margin-bottom: 10px;
    margin-top: 10px;
}
