.update-spot-container{
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: left;
    margin: auto;
    width: 400px;
}

.error-div{
    color: #FF5A5F;
    font-weight: bold;

}

.price-div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.country-street-title-price-image-input{
    height: 15px;
    width: 275px;
    border-style: solid;
    color: black;
}

.city-text{
    position: relative;
    left: calc(-115px);
    top: calc((15px))
}

.street-text{
    position: relative;
    left: calc(-95px);
    top: calc(15px)
}

.city-state-input{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.city-state-text{
    position: relative;
    left:calc(-15px)
}

.city-field{
    position: relative;
    left: calc(-50px)
}

.street-input{
    width: 70px;
}

.describe-input{
    height: 150px;
    width: 500px;
}

.button-class-no-spot{
    height:30px;
    width:150px;
    font-size: 15px;
    color: white;
    background-color:#767676;
}

.button-class-new-spot{
    height:30px;
    width:150px;
    font-size: 15px;
    color: white;
    background-color: #FF5A5F;
    margin-bottom: 10px;
    margin-top: 10px;
}
/*
h3, h1, p {
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: initial;

} */

.create-button{
    margin-top: 5px;
    margin-left: 100px;
     flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    border: solid black 3px;
    background-color: #FF5A5F;
    color: white;
   	box-shadow: 3px 2px 1px 0 rgba(0,0,0,20);
}
